@import "tailwindcss";

@theme {
  /* 1. Map your custom fonts here */
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading); /* Change to --font-serif or --font-space depending on what you picked */
  --font-mono: var(--font-mono);

  /* 2. Map your theme colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}